#server:
#  port: 8081
spring:
  application:
    name: Welcome-API
  boot:
    admin:
      client:
        url: http://localhost:9090
#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/ 
management:
  endpoints:
    web:
      exposure:
        include: '*'
