spring:
  application:
    name: Feign-example
  boot:
    admin:
      client:
        url: http://localhost:9090
server:
  port: 8082
management:
  endpoints:
    web:
      exposure:
        include: "*"
